body {
  background-color: black;
  font-family: "trebuc";
}
@font-face {
  font-family: "trebuc";
  src: url(../fonts/Trebuchet-MS-Italic.ttf);
  font-weight: normal;
}
.nav-container {
  width: 100%;
  height: 100px;
  margin-top: 25px;
}
.nav-titles {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
}
.nav-titles h1 {
  color: white;
}
.nav-titles h1:hover {
  cursor: pointer;
}
#chart-Title {
  text-decoration: underline;
}
#chart-Title-pg-2 {
  text-decoration: underline;
}
.chart-list-container {
  height: 250px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin: 25px auto auto;
}
.chart-container {
  width: 80%;
  height: 600px;
  margin: 30px auto auto;
  background-color: azure;
}
.news-container {
  width: 70%;
  height: 450px;
  margin: 30px auto auto;
}

/*Page 2 Start*/
.list-container {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.list-title {
  display: flex;
  flex-direction: column;
  height: 70%;
  border: 1px solid white;
  border-radius: 15px;
  color: white;
}
.list-title h1 {
  text-decoration: underline;
}
.list-container ul {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
}
.list-container li {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
}
.list-container li:hover {
  text-decoration: underline;
}
.documents-container {
  width: 50%;
  height: 100%;
  margin-left: 100px;
  border: 1px solid white;
}
.documents-title {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  color: white;
}
.content {
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
/*Page 2 End*/
